

ol, ul {
  padding-left: 30px;
}
.Game{
  text-align: center;
}

.appHeader{
  background-color: #f4f4f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */

}
/* .board-row:after {
  align-items: center;
  clear: both;
  content: "";
  display: grid;
} */

.status {
  margin-bottom: 10px;
}

.board-row{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  /* margin-left: calc(50% - 300px/2);  */
} 


.boardWrapper{
  display: inline-block;
}


.square {
  /* display: grid; */
  background: #ecebeb;
  border: 1px solid #a1b6b9;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  /* padding: 100px; what is padding? */
  text-align: center;
  width: 100px;
}

/* .square:after {
  content: "bye"
}
.square:before {
  content: "hi"
} */

.square:focus {
  outline: none;
  background-color: rgb(245, 192, 210);
}

.restartButtom{
  background-color: indianred;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 10px;
  margin-top: 25px;
}
.restartButtom:active{
  background-color: rgb(156, 67, 67);
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
